*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-black-50: #000000;
  --color-black-40: #404040;
  --color-black-30: #808080;
  --color-black-20: #bfbfbf;
  --color-black-10: #e6e6e6;
  --color-black-00: #fafafa;

  --color-green-50: #0ab01a;
  --color-green-40: #47c453;
  --color-green-30: #84d78c;
  --color-green-20: #c2ebc6;
  --color-green-10: #e7f7e8;

  --color-red-50: #b90000;
  --color-red-40: #ca4040;
  --color-red-30: #dc8080;
  --color-red-20: #edbfbf;
  --color-red-10: #f8e5e5;

  --color-primary-orange: #f9a109;

  --color-border-tabs: var(--color-black-10);

  --font-color-tabs: #767676;
  --font-color-tabs-active: var(--color-primary-orange, #f9a109);
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  padding: 0;
}

input,
textarea {
  font-family: inherit;
  font-size: 1.4rem;
  resize: none;
  &::placeholder {
    color: #bdbdbd;
  }
}

button {
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
}
