*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary-orange: #f9a109;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  padding: 0;
}

input,
textarea {
  font-family: inherit;
  font-size: 1.4rem;
  resize: none;
  &::placeholder {
    color: #bdbdbd;
  }
}

button {
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
}
