.root {
  height: 100%;
  min-height: 6.2rem;
  padding: 0 2.4rem;
  background-color: var(--color-primary-orange);
  color: white;
  outline: none;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 1.2rem;

  &.transparent {
    background-color: transparent;
    color: #34333a;
  }

  &.sky-blue {
    background-color: #56ccf2;
  }

  &.red {
    background-color: #eb5757;
  }
}
