.root {
  padding: 3.2rem 8rem;
  padding-right: calc(8rem - 17px);
}

.heading {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
}

.category {
  margin: 4.8rem 0;
}

.title {
  font-size: 1.8rem;
}

.receipts {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
